<html>
  <head>
    <link href='/assets/css/application.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class='page'>
    <div class='header'>
      <a href="/">
        <img class='logo' src='/assets/img/medieval_logo.png'>
      </a>
    </div>
    <div class='content'>
      <div class='posts'>
        <% @posts.each do |post| %>
          <div class='post'>
            <h1 class='title'><%= post.title %></h1>
            <div class='post_body'>
              <%= post.body %>
            </div>
            <a href='/posts/<%= post.id%>/show'> Read More </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </body>
</html>
