<html>
  <head>
    <link href='/assets/css/application.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class='page'>
    <div class='header'>
      <a href="/">
        <img class='logo' src='/assets/img/medieval_logo.png'>
      </a>
      <div class='menu'>
        <ul>
          <li><a href='/posts/new' class=button>New Entry</a></li>
        </ul>
      </div>
    </div>
    <div class='content'>
      <div class='posts'>
        <% @posts.each do |post| %>
          <div class='post'>
            <div class='title'>
              <%= post.title %>
            </div>
            <div class='post_body'>
              <%= post.body %>
            </div>
            <a href='/posts/show/<%= post.id %>'> Read More </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </body>
</html>
