<html>
<head>
<link href='/assets/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class='page'>
  <div class='header'>
      <a href="/">
        <img class='logo' src='/assets/img/medieval_logo.png'>
      </a>
    <div class='menu'>
      <ul>
        <li><a href='/posts/new' class=button>New Entry</a></li>
      </ul>
    </div>
  </div>
  <div class='content'>
    <h1> New Entry </h1>
    <form action='/posts/create' method='POST'>
      <input name='author' type='text' placeholder='AUTHOR'/>
      <input name='title' type='text' placeholder='TITLE'/>
      <textarea name='body'></textarea>
      <input type='submit' value='Create'/>
    </form>
  </div>
</div>
</body>
</html>
